<div class="container">
    <div class="content has-text-centered">
        <p>
            <strong>MAGISTER</strong> version
            <strong>{code.version}</strong> (build
            <strong>{code.build}</strong>, built on
            <strong>{code.build_date}</strong>) by
            <a href="https://pztrn.name">Stanislav N. aka pztrn</a>.</p>
        <p>Licensed under <a href="http://opensource.org/licenses/mit-license.php">MIT</a> license. Grab sources <a
                href="https://gitlab.com/pztrn/magister">here!</a></p>
    </div>
</div>